<header>
    <div class="logo">
      <a class="logo"
        ><img
          class="logo_img"
          src="images/header/WhatsApp202020-09-292001_.jpg"
      /></a>
      <div class="slogan">
        <a
          class="a1"
          href="/"
          >Mitboc-constructii,renovari,amenajari</a
        >
        <a
          class="a2"
          href="/"
          >Când construim, construim pentru a dura!</a
        >
      </div>
    </div>
    <div class="menu">
      <a href="/">Acasa</a>
      <a href="/produse">Produse</a>
      <a href="/contact">Contact</a>
      <a href="https://www.facebook.com/IasiConstructii/" target="_blank"> <img src="../images/header/Facebook.png" /> </a>
    </div>
  </header>