<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/produse.css" rel="stylesheet" />
    <title>Mitboc</title>
  </head>
  <body>
    <p class="title">Produse disponibile</p>
    <div class="contact">
      <h2>Mesaje primite</h2>
      <% messages.forEach(function(m) { %>
      <p>
        Nume: <%= m.nume %><br />
        Email: <%= m.email %><br />
        Telefon: <%= m.telefon %><br />
        Mesaj: <%= m.mesaj %><br />
      </p>
      <% }); %>
    </div>
  </body>
</html>
