<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/general.css" rel="stylesheet" />
    <link href="css/header.css" rel="stylesheet" />
    <link href="css/produse.css" rel="stylesheet" />
    <title>Mitboc</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a class="logo"
          ><img
            class="logo_img"
            src="images/header/WhatsApp202020-09-292001_.jpg"
        /></a>
        <div class="slogan">
          <a class="a1" href="/">Mitboc-constructii,renovari,amenajari</a>
          <a class="a2" href="/">Când construim, construim pentru a dura!</a>
        </div>
      </div>
      <div class="menu">
        <a href="/">Acasa</a>
        <a href="/produse">Produse</a>
        <a href="tel:+40771371302">0771371302</a>
        <a href="https://www.facebook.com/IasiConstructii/" target="_blank">
          <img src="../images/header/Facebook.png" />
        </a>
      </div>
    </header>
    <p class="title">Produse disponibile</p>
    <div class="contact">
      <h2>Form contact</h2>
      <form method="POST" action="/contact">
        <p>
          <label
            >Nume
            <input type="text" name="nume" />
          </label>
        </p>
        <p>
          <label
            >Email
            <input type="text" name="email" />
          </label>
        </p>
        <p>
          <label
            >Telefon
            <input type="text" name="telefon" />
          </label>
        </p>
        <p>
          <label
            >Mesaj
            <input type="text" name="mesaj" />
          </label>
        </p>
        <p>
          <button type="submit">Trimite</button>
        </p>
      </form>
    </div>
    <p style="text-align: center">
      ©2020 by Mitboc-constructii,renovari,amenajari.
    </p>
  </body>
</html>
