<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			href="css/general.css"
			rel="stylesheet"
		/>
		<link
			href="css/header.css"
			rel="stylesheet"
		/>
		<link
			href="css/home.css"
			rel="stylesheet"
		/>
		<title>Mitboc</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a class="logo"
					><img
						class="logo_img"
						src="/images/header/WhatsApp202020-09-292001_.jpg"
				/></a>
				<div class="slogan">
					<a
						class="a1"
						href="/"
						>Mitboc-constructii,renovari,amenajari</a
					>
					<a
						class="a2"
						href="/"
						>Când construim, construim pentru a dura!</a
					>
				</div>
			</div>
			<div class="menu">
				<a href="/">Acasa</a>
				<a href="/produse">Produse</a>
				<a href="tel:+40771371302">0771371302</a>
				<a href="https://www.facebook.com/IasiConstructii/"> <img src="/images/header/Facebook.png" /> </a>
			</div>
		</header>
		<main>
			<div class="first-img">
				<img src="/images/homepage/first.webp" />
			</div>
			<div class="despre">
				<p>Citeste tot despre Mitboc-constructii,renovari,amenajari</p>
				<p>Muncă de calitate superioară</p>
				<p>
					Bun venit la Mitboc-constructii, renovari, amenajari. Suntem o firma de construcții cu servicii complete care
					oferă o gamă largă de servicii personalizabile pentru a se potrivi tuturor nevoilor clienților noștri.
					Aruncați o privire prin site-ul nostru pentru a afla mai multe despre ceea ce avem de oferit și nu ezitați să
					ne contactați pentru orice întrebare. Unul dintre membrii echipei noastre ar fi bucuros să vă ajute.
				</p>
			</div>
			<a
				href="https://www.facebook.com/IasiConstructii/"
				class="contact-button"
			>
				Contacteaza-ne
			</a>
			<div class="cine_suntem">
				<div>
					<p>Cine suntem?</p>
					<p>
						&#x2022; Suntem o firma de constructii de peste 20 ani de experienta. In Europa am castigat increderea
						clientilor nostri, printre acestia numarandu-se de la prieteni si recomandari, pana la persoane celebre ce
						potgaranta priceperea si calitatea lucrarilor noastre.
					</p>
				</div>
				<img src="/images/homepage/despre-foto.webp" />
			</div>
		</main>
		<servicii>
			<div class="servicii">
				<p>Servicii furnizate</p>
				<p>Ofertele noastre</p>
			</div>
			<div class="serv_desc">
				<div class="subgrid">
					<p>
						Înțelegem importanța alegerii firmei potrivite, care să aibă experiență, încredere și un pret accesibil.
						Avem instrumentele și experiența pentru a face treaba la cele mai înalte standarde și la cel mai bun preț.
						Spuneți-ne cum vă putem ajuta cu nevoile dvs.
					</p>
					<img src="images/homepage/of-1.webp" />
				</div>
				<div class="subgrid">
					<p>
						Mitboc-constructii, renovari, amenajari are o mulțime de experiență în acest serviciu, utilizând mărci de
						echipamente respectate și furnizori de materiale de încredere. Oferim ajutor profesional și cu experiență în
						proiectele dvs., ajutându-vă să vă potriviți nevoile și bugetul unic. Ne străduim să oferim un serviciu
						excelent pentru clienți și o comunicare clară, astfel încât să puteți înțelege progresul muncii dvs. în
						fiecare fază.
					</p>
					<img src="images/homepage/of-2.webp" />
				</div>
			</div>

			<div class="subgrid">
				<p>
					Transformați-vă proiectul în viziunea viselor dvs. utilizând acest serviciu. Experții noștri vă vor explica
					toate opțiunile și vă vor răspunde la orice întrebare. Echipa noastră lucrează îndeaproape cu fiecare client
					pentru a ne asigura că îndeplinim și depășim așteptările. Contactați-ne pentru mai multe informații.
				</p>
				<img src="images/homepage/of-3.webp" />
			</div>
		</servicii>
		<div class="serv_head">
			<p>Produsele noastre</p>
			<p>Calitate pe care te poți baza</p>
		</div>
		<produse>
			<div class="p-1">
				<img src="images/homepage/renovari.webp" />
				<p>RENOVARI APARTAMENTE</p>
			</div>
			<div class="p-2">
				<img src="images/homepage/case.webp" />
				<p>CASE</p>
			</div>
			<div class="p-3">
				<img src="images/homepage/of-1.webp" />
				<p>TERASE</p>
			</div>
			<div class="p-4">
				<p>BECIURI DIN BETON ARMAT SAU ZIDITE CU PIATRA DE CARIERA</p>
				<img src="/images/homepage/beciuri.webp" />
			</div>
			<div class="p-5">
				<p>PAVAJE ALEI</p>
				<img src="/images/homepage/pavaje.webp" />
			</div>
			<div class="p-6">
				<p>FATADE</p>
				<img src="/images/homepage/fatade.webp" />
			</div>
		</produse>
		<contact>
			<div>
				<p style="width: 300px">Contactează-ne</p>
				<a href="mail:mitea20@yahoo.es">mitea20@yahoo.es </a>
				<p>0771371302</p>
			</div>
			<img src="images/homepage/contact.webp" />
		</contact>
		<p style="text-align: center">©2020 by Mitboc-constructii,renovari,amenajari.</p>
	</body>
</html>
