<!DOCTYPE html>
<html>
<head>
  <title>A]</title>
  <!-- Include your CSS and JavaScript files here -->
  <link
  href="css/general.css"
  rel="stylesheet"
/>
<link
  href="css/header.css"
  rel="stylesheet"
/>
</head>
<body>
  
<%- include ('partials/header') %>


  <main>
    <!-- This is where the content of individual pages will be injected -->
    <%- body %>
  </main>

  <footer>
    <p style="text-align: center">©2020 by Mitboc-constructii,renovari,amenajari.</p>
  </footer>
</body>
</html>
