<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			href="css/produse.css"
			rel="stylesheet"
		/>
		<title>Mitboc</title>
	</head>
	<body>
		<p class="title">Produse disponibile</p>
		<div class="product">
			<p>
				Cu diferite dimensiuni și stiluri disponibile pentru a alege, crearea unui model personalizat unic nu a fost
				niciodată mai ușoară! Suntem specializați în proiectarea și construirea de produse de înaltă calitate pentru o
				varietate de domenii. Acest produs este foarte popular, așa că suntem însărcinați cu proiectarea și instalarea
				acestora în mod regulat. Spuneți-ne de ce aveți nevoie și vom realiza acest lucru.
			</p>
			<img src="images/products/product-1.webp" />
		</div>
		<div class="product">
			<p>
				Rămâi clasic cu o varietate de opțiuni elegante în tot felul de stiluri și materiale. Indiferent dacă doriți să
				lucrăm cu materiale naturale sau sintetice, ne vom asigura că acest produs este construit special pentru a se
				potrivi nevoilor și preferințelor dvs. Prea ocupat să proiectezi ceva? Verificați proiectele noastre
				prefabricate.
			</p>
			<img src="images/products/product-2.webp" />
		</div>
		<div class="product">
			<p>CONTACTATI-NE PENTRU LUCRARI BINE EXECUTATE!</p>
			<img src="images/products/product-3.webp" />
		</div>
	</body>
</html>
