.title {
	text-align: center;
	color: var(--text-color);
	font-size: 40px;
}
body {
	display: grid;
}
.product {
	background-color: #101010;
	margin-bottom: 32px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: var(--text-color);
	margin-left: auto;
	margin-right: auto;
	border-radius: 12px;
}
.product p {
	justify-self: end;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	width: 500px;
	font-size: 24px;
	text-justify: center;
	text-align: center;
}
.product img {
	border-radius: 12px;
}
